@charset "UTF-8";
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.visual {
  display: flex;
  margin-top: 67px;
  width: 100%;
  height: 565px;
}

.visual .txt-box {
  position: relative;
  width: 50%;
}

.visual .txt-box .top-tit {
  font-size: 27px;
  color: #ED3DA6;
  margin-bottom: 10px;
}

.visual .txt-box .txt {
  position: absolute;
}

.visual .txt-box .txt .tit span {
  display: inline-block;
  font-size: 64px;
  /* 초기 txt 셋팅 - opacity: 0, transform: translate(x축, y축); y축 위치를 -20% 밑에서 시작 */
  opacity: 0;
  transform: translate(0, 100%);
  /* transition - 변경되는 CSS 변화를 부드럽게 하기 위해 애니메이션 속도 조절 */
  transition: transform 0.5s;
}

.visual .txt-box .txt .desc {
  margin-top: 40px;
  opacity: 0;
}

.visual .txt-box .txt.active .tit span {
  /* active 클래스가 붙으면 opacity, transform 위치 기본으로 돌리기	 */
  opacity: 1;
  transform: translate(0, 0);
}

.visual .txt-box .txt.active .desc {
  opacity: 1;
}

.visual .main-slide {
  width: 50%;
  height: 100%;
}

.visual .main-slide .slide01 {
  background: url(../img/content/visual_img_01.jpg) no-repeat 100%/auto;
}

.visual .main-slide .slide02 {
  background: url(../img/content/visual_img_02.png) no-repeat 100%/auto;
}

.visual .main-slide .slide03 {
  background: url(../img/content/visual_img_03.jpg) no-repeat 100%/auto;
}

.visual .main-slide .slide04 {
  background: url(../img/content/visual_img_04.jpg) no-repeat 100%/auto;
}

.visual .main-slide .slide05 {
  background: url(../img/content/visual_img_05.png) no-repeat 100%/auto;
}