@charset "UTF-8";

@import "import/lib-fonts";
@import "base";
@import "import/typography";
@import "import/reset-css";

/* blind */
.blind {
	display: none;
	overflow: hidden;
	border: 0;
	position: relative;
	z-index: -1;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

img {
	width: 100%;
}

.al-c {
	text-align: center !important;
}

.al-l {
	text-align: left !important;
}

.al-r {
	text-align: right !important;
}

.line_01 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pc_only {
	display: block;
}

.mo_only {
	display: none;
}

.c-red {
	color: #ff0000 !important;
}

.flex-end {
	@include flex('', 'flex-end !important');
}

.flex-center {
	@include flex('', 'center !important');
}

.flex-start {
	@include flex('', 'flex-start !important');
}

.bold {
	font-weight: 700 !important;
}

/* space */
$position: (
	t:top,
	b:bottom,
	r:right,
	l: left
);
$total: 10;

@each $abbr, $pos in $position {
	@for $i from 0 to $total {
		.m#{$abbr}-#{$i} {
			margin-#{$pos}: $i*10px !important;
		}

		.p#{$abbr}-#{$i} {
			padding-#{$pos}: $i*10px !important;
		}
	}
}

@media all and (max-width:750px) {
	.pc_only {
		display: none;
	}

	.mo_only {
		display: block;
	}

	/* space */
	$position: (
		t:top,
		b:bottom,
		r:right,
		l: left
	);
$total: 10;

@each $abbr, $pos in $position {
	@for $i from 0 to $total {
		.m#{$abbr}-#{$i} {
			margin-#{$pos}: $i*1.39vw !important;
		}

		.p#{$abbr}-#{$i} {
			padding-#{$pos}: $i*1.39vw !important;
		}
	}
}
}


/* header */
.header {
	background-color: #000;
	.top-menu{
		position: relative;
		display: flex;
		align-items: center;
    	justify-content: space-between;
		height: 60px;
		color: #fff;

		.logo{
			width: 96px;
			height: 34px;
		}
	
		.nav{
			.nav-menu{
				display: flex;
				align-items: center;
				li{
					+ li{
						margin-left: 36px;
					}
					.btn{
						width: 113px;
						height: 30px;
						border-radius: 100px;
						background-color: #F147AC;
						color: #fff;
					}
				}
			}
		}
		.country{
			display: flex;
			align-items: center;
			li{
				+ li{
					margin-left: 10px;
				}
			}
		}
		.top-search{
			&::before{
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 150px;
				display: inline-block;
				width: 29px;
				height: 28px;
				background: url(../img/content/ico_search.svg) no-repeat;
			}
		}
	}


}

@media (max-width: 1440px) {
}

@media (max-width: 1080px) {
}

@media (max-width: 960px) {
}

@media (max-width: 720px) {
}

/* footer */
.footer {
}


/* layout */


#wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.inner {
	max-width: 1720px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	padding: 10px 20px;
	color: #667085;
	background: #fff;
	border-radius: 8px;
}


.img-wrap {
	display: flex;
	position: relative;
	width: fit-content;
	margin: 0 auto;
}