@charset "UTF-8";

@import "import/lib-fonts";
@import "base";
@import "import/typography";
@import "import/reset-css";

/* blind */
.blind {
	display: none;
	overflow: hidden;
	border: 0;
	position: relative;
	z-index: -1;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

img {
	width: 100%;
}

.al-c {
	text-align: center !important;
}

.al-l {
	text-align: left !important;
}

.al-r {
	text-align: right !important;
}

.line_01 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pc_only {
	display: block;
}

.mo_only {
	display: none;
}

.c-red {
	color: #ff0000 !important;
}

.flex-end {
	@include flex('', 'flex-end !important');
}

.flex-center {
	@include flex('', 'center !important');
}

.flex-start {
	@include flex('', 'flex-start !important');
}

.bold {
	font-weight: 700 !important;
}

/* space */
$position: (
	t:top,
	b:bottom,
	r:right,
	l: left
);
$total: 10;

@each $abbr, $pos in $position {
	@for $i from 0 to $total {
		.m#{$abbr}-#{$i} {
			margin-#{$pos}: $i*10px !important;
		}

		.p#{$abbr}-#{$i} {
			padding-#{$pos}: $i*10px !important;
		}
	}
}

@media all and (max-width:750px) {
	.pc_only {
		display: none;
	}

	.mo_only {
		display: block;
	}

	/* space */
	$position: (
		t:top,
		b:bottom,
		r:right,
		l: left
	);
$total: 10;

@each $abbr, $pos in $position {
	@for $i from 0 to $total {
		.m#{$abbr}-#{$i} {
			margin-#{$pos}: $i*1.39vw !important;
		}

		.p#{$abbr}-#{$i} {
			padding-#{$pos}: $i*1.39vw !important;
		}
	}
}
}


/* header */
.header {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 1000;
	
	.top-menu{
		position: relative;
		display: flex;
		align-items: center;
    	justify-content: space-between;
		height: 66px;
		color: #fff;

		.logo{
			width: 96px;
			height: 34px;
			a{ display: block;}
		}
	
		.nav{
			margin: 0 auto;
			.nav-menu{
				display: flex;
				align-items: center;
				
				li{
					+ li{
						margin-left: 34px;
					}
					.btn{
						display: inline-flex;
    					align-items: center;
    					justify-content: center;
						width: 113px;
						height: 30px;
						border-radius: 100px;
						background-color: #F147AC;
						color: #fff;
						padding: 0;
					}
					a{
						font-weight: 900;
						letter-spacing: -0.7px;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
		.country{
			display: flex;
			align-items: center;
			li{
				+ li{
					margin-left: 10px;
				}
				a{
					font-size: 17px;
				}
				&.active{
					a{
						font-weight: 600;
						text-decoration: underline;		
					}
				}
			}
		}
		.top-search{
			&::before{
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 110px;
				display: inline-block;
				width: 29px;
				height: 28px;
				background: url(../img/content/ico_search.svg) no-repeat;
			}
		}
	}


}

@media (max-width: 1440px) {
}

@media (max-width: 1080px) {
}

@media (max-width: 960px) {
}

@media (max-width: 720px) {
}

/* footer */
.footer {
}


/* layout */


#wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.inner {
	max-width: 1815px;
    margin: 0 auto;
    padding: 0 48px;
}

.btn {
	display: inline-block;
	font-size: 16px;
	padding: 19px 24px;
	color: #000;
	background: #fff;
	border: 1px solid #000;
}


.img-wrap {
	display: flex;
	position: relative;
	width: fit-content;
	margin: 0 auto;
}