@charset "UTF-8";
@import "base";



.title-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .txt-group {
        .top-txt {
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #444CE7;
            margin-bottom: 15px;

            &::before {
                content: '';
                display: inline-flex;
                width: 35px;
                height: 2px;
                background-color: #444CE7;
                box-sizing: border-box;
                margin-right: 16px;
            }
        }

        h2 {
            font-size: 36px;
            font-weight: 700;
            color: #344054;
        }

        .desc {
            font-size: 16px;
            color: #667085;
            margin-top: 20px;
        }
    }
}

.chk-list {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    .txt {
        font-size: 16px;
        color: #667085;

        &::before {
            content: '';
            display: inline-flex;
            width: 20px;
            height: 20px;
            background: url(../img/content/check.svg) no-repeat center/100% auto;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

/* visual */
.sec-kv {
    max-width: initial;
    // max-width: 1920px;
    padding: 0;

    .visual-wrap {
        position: relative;
        height: 660px;
        background-color: #F5F8FF;

        .inner {
            max-width: 1320px;
            margin: 0 auto;
            height: 100%;
        }

        .txt-box {
            padding-top: 130px;
            width: 740px;
            height: 100%;

            .num-txt {
                display: flex;
                margin-top: 40px;

                li {
                    font-size: 14px;
                    color: #667085;

                    strong {
                        display: block;
                        font-size: 24px;
                        font-weight: 600;
                        color: #344054;
                    }

                    +li {
                        margin-left: 60px;
                    }
                }

            }

            .title {
                font-size: 56px;
                font-weight: 600;
                letter-spacing: -1.12px;
                color: #344054;
            }

            .desc {
                margin-top: 15px;
                font-size: 16px;
                color: #667085;
            }
        }

        .img-box {
            position: absolute;
            right: 0;
            top: 0;
            width: 45%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .search-area {
        position: relative;
        max-width: 1320px;
        margin: -100px auto 0;

        .tab-btn {
            ul {
                display: flex;

                li {
                    width: 120px;
                    height: 50px;
                    background-color: #f2f4f7;
                    color: #344054;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;

                    &:first-child {
                        border-radius: 16px 0 0 0;
                        background-color: #E0EAFF;
                    }

                    &:last-child {
                        border-radius: 0 16px 0 0;
                    }
                }

            }
        }

        .input-area {
            width: 100%;
            display: flex;
            align-items: flex-end;
            padding: 30px 41px 32px;
            border-radius: 0px 16px 16px 16px;
            background-color: #FFF;
            box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.06);

            .input-group {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 343px;

                &+.input-group {
                    margin-left: 20px;
                }

                label {
                    font-size: 14px;
                    color: #344054;
                }

                .inp-txt {
                    position: relative;
                    margin-top: 6px;
                    width: 100%;
                    padding: 12px 40px 12px 14px;
                    border-radius: 8px;
                    border: 1px solid #D0D5DD;
                    background: #FFF;
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                    box-sizing: border-box;
                }

                a {
                    position: absolute;
                    right: 14px;
                    bottom: 15px;
                    width: 18px;
                    height: 18px;

                    .icon {
                        display: inline-flex;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: 100% auto;

                        &.map {
                            background-image: url(../img/content/map-pin.svg);
                        }

                        &.home {
                            background-image: url(../img/content/home.svg);
                        }

                        &.dollar {
                            background-image: url(../img/content/dollar-sign.svg);
                        }
                    }
                }

                .btn {
                    padding: 12px 28px;
                    border-radius: 8px;
                    background: #444CE7;
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
}


// ----- [ sec-01] ------
.sec-01{
    .title-area {
        .txt-ico {
            a {
                font-size: 16px;
                color: #344054;

                &::after {
                    content: '';
                    display: inline-flex;
                    width: 43px;
                    height: 24px;
                    vertical-align: top;
                    background: url(../img/content/arrow-right.svg) no-repeat center;
                    margin-left: 6px;
                }
            }
        }
    }

    .popular-house-area {
        margin-top: 50px;

        .item-group {
            display: flex;
            align-items: center;

            .item {
                position: relative;
                display: flex;
                flex-direction: column;
                border-radius: 16px;
                border: 1px solid #F2F4F7;
                background: #FFF;
                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
                box-sizing: border-box;
                overflow: hidden;
                width: 100%;

                .txt-group {
                    padding: 25px 22px;

                    .title {
                        font-size: 20px;
                        font-weight: 600;
                        color: #344054;
                        margin-top: 15px;
                    }

                    .address {
                        font-size: 14px;
                        color: #667085;
                        margin-top: 20px;
                        padding-left: 24px;
                        text-indent: -24px;

                        &::before {
                            content: '';
                            display: inline-flex;
                            width: 16px;
                            height: 16px;
                            background: url(../img/content/map-pin.svg) no-repeat center/100% auto;
                            vertical-align: middle;
                            margin-right: 8px;
                        }
                    }

                    .money {
                        font-size: 18px;
                        color: #667085;

                        span {
                            font-size: 14px;
                            letter-spacing: 0em;
                            padding: 2px 10px;
                            border-radius: 4px;
                            color: #444ce7;
                            background: #f5f8ff;
                            margin-left: 20px;
                        }
                    }
                }

                .item-img {
                    width: 100%;
                }

                .item-btn {
                    position: absolute;
                    top: 25px;
                    left: 21px;
                    margin-bottom: 10px;

                    a {
                        font-size: 14px;
                        padding: 6px 15px;
                        border-radius: 8px;
                        color: #fff;
                        background: #444ce7;
                    }
                }
            }

            .txt-bottom {
                border-top: 1px solid #F2F4F7;
                padding: 22px;

                .info-group {
                    display: flex;
                    justify-content: space-between;

                    .info {
                        display: flex;
                        align-items: center;

                        li+li {
                            margin-left: 25px;
                        }

                        img {
                            width: fit-content;
                            margin-right: 8px;
                        }
    
                        span {
                            font-size: 14px;
                            color: #475467;
                        }
                    }
                }
            }
        }

        .swiper-slide{
            flex: 1;
            margin-right: 30px;

            &:last-child{
                margin: 0;
            }
        }
    }
}

//----- [ sec-02 ] ------
.sec-02 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .img-wrap {
        .play-btn {
            width: 92px;
            height: 92px;
            position: absolute;
            top: 171px;
            left: 207px;
            z-index: 2;
        }

        .img-box.short {
            position: relative;
            width: 253px;
            height: 434px;
            flex-shrink: 0;
            margin-right: 16px;
        }

        .img-box.big {
            width: 401px;
            height: 455px;
            margin-top: 30px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .title-area {
        margin-top: 25px;
        padding-left: 108px;
    }
}

//----- [ sec-03 ] ------
.sec-03 {
    .img-city-list {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        li {
            position: relative;
            height: 400px;
            border-radius: 16px;
            overflow: hidden;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 6.99%, rgba(0, 0, 0, 0.00) 42.7%);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .title {
            position: absolute;
            left: 35px;
            bottom: 20px;
            font-size: 24px;
            font-weight: 600;
            color: #FFF;
            z-index: 3;
        }
    }
}

//----- [ sec-04 ] ------
.sec-04 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-area {
        padding-left: 106px;
    }

    .img-box {
        width: 501px;
        height: 581px;
    }
}

//----- [ sec-05 ] ------
.sec-05{
    .profile-list {
        display: flex;
        margin-top: 50px;
    
        .profile {
            font-size: 16px;
            color: #667085;
            display: flex;
            flex-direction: column;
            gap: 30px;
            border-radius: 16px;
            border: 1px solid #F2F4F7;
            padding: 30px;
    
            .person-box {
                width: 70px;
                border-radius: 8px;
                box-sizing: border-box;
                overflow: hidden;
                margin-right: 24px;
            }
    
            .person {
                display: flex;
                align-items: center;
                font-size: 16px;
                color: #475467;
            }
    
            .name-group .name {
                display: block;
                font-size: 20px;
                color: #344054;
            }
    
        }
    }
}

//----- [ sec-06 ] ------
.sec-06 {
    .questions-list {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 20px;
    
        .questions {
            display: flex;
            flex-direction: column;
    
            .quest-btn {
                position: relative;
                width: 100%;
                text-align: left;
                border-radius: 8px;
                border: 1px solid #EAECF0;
                padding: 20px;
                box-sizing: border-box;
    
                &::after {
                    content: '';
                    position: absolute;
                    right: 20px;
                    width: 20px;
                    height: 20px;
                    background: url(../img/content/plus.png) no-repeat 100%/contain;
                }
    
                &.active {
                    border-radius: 8px 8px 0px 0px;
                    border-color: #444CE7;
                    background: #444CE7;
                    color: #fff;
    
                    &::after {
                        background: url(../img/content/minus.png) no-repeat 100%/contain;
                    }
    
                }
            }

            .txt-box {
                display: none;
                padding: 16px 20px;
                font-size: 14px;
                color: #667085;
                border-radius: 0px 0px 6px 6px;
                border: 1px solid #EAECF0;
                margin-top: -2px;
                box-sizing: border-box;
            }
        }
    }
}

//----- [ sec-07 ] ------
.sec-07 {
    .item-group {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 0 30px;

        .item {
            .item-img {
                // width: 420px;
                // height: 280px;
                border-radius: 16px;
                overflow: hidden;
            }

            .txt-group {
                margin-top: 20px;
                min-height: 98px;

                .date {
                    font-size: 16px;
                    color: #475467;
                }

                .txt {
                    font-size: 20px;
                    font-weight: 600;
                    color: #344054;
                    margin-top: 10px;
                }
            }

            .more-btn {
                font-size: 16px;
                background-color: #444CE7;
                border-radius: 8px;
                color: #fff;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                margin-top: 20px;
           
                &.type2 {
                    background-color: #E0EAFF;
                    color: #344054;
                }
            }

        }
    }
}



//swiper
.swiper {
    width: 100%;
    height: 100%;
}

.slide-nav {
    display: flex;
    align-items: center;
}

.slide-nav button {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: fit-content;
}

.slide-nav .swiper-button-prev::after {
    content: 'prev';
    display: block;
    width: 31px;
    height: 24px;
    font-family: none;
    font-size: 0;
    background: url(../img/content/arrow-left.svg) no-repeat 100%/contain !important;
}

.slide-nav .swiper-button-next::after {
    content: 'next';
    display: block;
    width: 43px;
    height: 24px;
    font-family: none;
    font-size: 0;
    background: url(../img/content/arrow-right.svg) no-repeat 100%/contain !important;
}

.slide-nav span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}



/* 반응형 */

@media (max-width: 1440px) {
    .sec-kv {
        .inner {
            padding: 0 40px;
        }

        .visual-wrap {
            .txt-box {
                width: 55%;
            }
        }

        .search-area {
            padding: 0 40px;
        }
    }

    section{
        padding: 120px 40px;
    }

    .chk-list{
        margin-top: 20px;
        gap: 5px;
        grid-template-columns: 1fr;
    }

    .sec-02, .sec-04 {
        .title-area{
            padding-left: 60px;
        }
    }

    .footer {
        .f-area {
            padding: 100px 40px;
        }
        
        .f-copyright {
            .copyright-area {
                padding: 12px 40px;
            }
        }
    }
}

@media (max-width: 1080px) {
    .sec-kv {
        .visual-wrap {
            height: fit-content;

            .txt-box {
                padding: 60px 0;
                width: 100%;
            }

            .img-box {
                position: static;
                margin: 0 -40px;
                width: calc(100% + 80px);
                height: auto;
            }
        }
    }

    .sec-01{
        .popular-house-area {
            .item-group {
                .txt-bottom {
                    border-top: 1px solid #F2F4F7;
                    padding: 22px;
    
                    .info-group {
                        flex-direction: column;
    
                        .info {
                            li+li {
                                margin-left: 50px;
                            }
                            &.sqft{
                                margin-top: 30px;
                            }
                        }

                    }
                }
            }
        }
    }

    .sec-02{
        flex-direction: column;
        .img-wrap{
            justify-content: center;
        }

        .title-area {
            padding-left: 0;
        }
    }

    .sec-03 {
        .img-city-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .sec-04 {
        flex-direction: column;
    
        .title-area {
            padding: 60px 0 0;
        }
    }

    .sec-07 {
        .item-group {
            grid-template-columns: 1fr;
            .item + .item{
                margin-top: 60px;
            }
        }
    }  
}

@media (max-width: 960px) {
    .sec-kv {
        .search-area {
            .input-area {
                padding-left: 21px;
                padding-right: 21px;

                .input-group {
                    &+.input-group {
                        margin-left: 14px;
                    }
                }
            }
        }
    }

    .sec-01{
        .popular-house-area {
            .swiper-slide{
                flex: none;
                width: 770px;
            }
        }
    }

    .sec-06{
        .questions-list {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }

    .footer {
        .f-area {
            flex-direction: column;
            .f-menu-group{
                justify-content: space-between;
                margin: 60px 0 0;
            }
        }
    }
}

@media (max-width: 720px) {
    .sec-kv {
        padding: 0;

        .visual-wrap {
            .inner {
                padding: 0 5.56vw;
            }

            .txt-box {
                padding: 8.33vw 0;

                .num-txt {
                    flex-direction: column;
                    margin-top: 8.33vw;

                    li {
                        font-size: 3.33vw;

                        strong {
                            margin-bottom: 0.83vw;
                            font-size: 4.44vw;
                        }

                        +li {
                            margin-left: 0;
                            margin-top: 8.33vw;
                        }
                    }
                }

                .title {
                    font-size: 9.17vw;
                }

                .desc {
                    margin-top: 4.17vw;
                    font-size: 3.33vw;

                    br {
                        display: none;
                    }
                }
            }

            .img-box {
                margin: 0 -5.56vw;
                width: calc(100% + 11.11vw);
            }
        }

        .search-area {
            margin-top: -22.22vw;
            margin-bottom: 16.67vw;
            padding: 0 5.56vw;

            .tab-btn {
                ul {
                    li {
                        flex: 1;
                        height: 13.33vw;
                        font-size: 3.89vw;
                        line-height: 13.33vw;

                        &:first-child {
                            border-radius: 2.22vw 0 0 0;
                        }

                        &:last-child {
                            border-radius: 0 2.22vw 0 0;
                        }
                    }
                }
            }

            .input-area {
                align-items: center;
                flex-direction: column;
                padding: 8.33vw 5.56vw;
                border-radius: 0vw 0 2.22vw 2.22vw;
                box-shadow: 0vw 0.83vw 4.17vw 0vw rgba(0, 0, 0, 0.06);

                .input-group {
                    width: 100%;

                    &+.input-group {
                        margin-top: 5.56vw;
                        margin-left: 0;
                    }

                    label {
                        font-size: 3.33vw;
                        margin-bottom: 2.78vw;
                    }

                    .inp-txt {
                        margin-top: 0;
                        padding: 4.17vw;
                        font-size: 3.33vw;
                        border-radius: 1.11vw;
                        border-width: 0.28vw;
                        box-shadow: 0vw 0.14vw 0.28vw 0vw rgba(16, 24, 40, 0.05);
                    }

                    a {
                        top: calc(50% + 0.69vw);
                        right: 1.94vw;
                        transform: translateX(-50%);
                        width: 5.56vw;
                        height: 5.56vw;
                    }

                    .btn {
                        padding: 2.78vw 3.89vw;
                        border-radius: 1.11vw;
                        box-shadow: 0vw 0.14vw 0.28vw 0vw rgba(16, 24, 40, 0.05);
                        font-size: 3.89vw;
                        height: 13.33vw;
                    }
                }
            }
        }
    }

    section{
        padding: 16.67vw 5.56vw;
    }

    .title-area {
        align-items: flex-start;
        flex-direction: column;
        .txt-group{
            margin-bottom: 5.56vw;
            .top-txt{
                font-size: 3.89vw;
            }
            
            h2{
                font-size: 6.39vw;
                line-height: 1.3;
            }

            .desc{
                font-size: 3.61vw;
                margin-top: 5.56vw;
            }
            
            .chk-list {
                margin-top: 5.56vw;
                gap: 0;
                li{
                    .txt{
                        font-size: 3.61vw;
                        &::before{
                            width: 5vw;
                            height: 5vw;
                            margin-right: 1.39vw;
                        }
                    }
                    + li{
                        margin-top: 2.78vw;
                    }
                }
            }

            .basic-btn {
                width: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 13.33vw;
                margin-top: 8.33vw;
                box-shadow: 0vw 0.14vw 0.28vw 0vw rgba(16, 24, 40, 0.05);
                font-size: 3.61vw;
            }
        }
    }

    .sec-01{
        .title-area {
            .txt-ico {
                a {
                    display: flex;
                    align-items: center;
                    font-size:3.61vw;
    
                    &::after {
                        height: 3.33vw;
                        margin-left: 0.83vw;
                    }
                }
            }
        }
    
        .popular-house-area {
            margin-top: 6.94vw;
    
            .item-group {    
                .item {
                    border-radius: 2.22vw;
                    border: 0.14vw solid #F2F4F7;
                    box-shadow: 0vw 0.56vw 4.17vw 0vw rgba(0, 0, 0, 0.05);
    
                    .txt-group {
                        padding: 3.47vw 3.06vw;
    
                        .title {
                            font-size: 4.17vw;
                            margin-top: 2.78vw;
                        }
    
                        .address {
                            font-size: 3.33vw;
                            margin-top: 2.78vw;
                            padding-left: 4.44vw;
                            text-indent: -4.44vw;
    
                            &::before {
                                width: 3.33vw;
                                height: 3.33vw;
                                margin-right: 1.11vw;
                            }
                        }
    
                        .money {
                            font-size: 3.89vw;
    
                            span {
                                font-size: 3.33vw;
                                padding: 1.11vw 2.22vw;
                                border-radius: 0.56vw;
                                margin-left: 2.78vw;
                            }
                        }
                    }
    
                    .item-btn {
                        top: 3.47vw;
                        left: 2.92vw;
                        margin-bottom: 1.39vw;
    
                        a {
                            font-size: 3.33vw;
                            padding: 1.67vw 2.78vw;
                            border-radius: 1.11vw;
                        }
                    }
                }
    
                .txt-bottom {
                    border-top: 0.14vw solid #F2F4F7;
                    padding: 3.06vw;
    
                    .info-group {
                        .info {    
                            li{
                                display: flex;
                                align-items: center;
                                +li {
                                    margin-left: 6.94vw;
                                }
                            }
                            
    
                            img {
                                width: 5.56vw;
                                height: 5.56vw;
                                margin-right: 2.78vw;
                            }
        
                            span {
                                font-size: 3.33vw;
                            }

                            &.sqft{
                                margin-top: 4.17vw;
                                img{
                                    width: 4.44vw;
                                    height: 4.44vw;
                                }
                            }
                        }
                    }
                }
            }
    
            .swiper-slide{
                width: 80.56vw;
    
                &:last-child{
                    margin: 0;
                }
            }
        }
    }

    .sec-02 {    
        .img-wrap {
            width: 100%;
            .play-btn {
                width: 12.78vw;
                height: 12.78vw;
                top: 23.75vw;
                left: 28.75vw;
            }
    
            .img-box.short {
                width: 35.14vw;
                height: 60.28vw;
                margin-right: 2.22vw;
            }
    
            .img-box.big {
                width: 55.69vw;
                height: 63.19vw;
                margin-top: 4.17vw;
            }
        }
    
        .title-area {
            margin-top: 8.33vw;

            .txt-group{
                margin: 0;
            }
        }
    }
    
    .sec-03 {
        .img-city-list {
            margin-top: 0;
            gap: 2.08vw;
    
            li {
                height: 41.67vw;
                border-radius: 2.22vw;      
            }

            .title {
                left: 4.86vw;
                bottom: 2.78vw;
                font-size: 3.33vw;
            }
        }
    }

    .sec-04 {    
        .title-area {
            padding: 8.33vw 0 0;
        }
    
        .img-wrap{
            width: 100%;
        }

        .img-box {
            width: 100%;
            height: 100%;
        }

        .title-area .txt-group {
            margin: 0;
        }
    }

    .sec-05{
        .profile-list {
            margin-top: 6.94vw;
        
            .profile {
                font-size: 2.22vw;
                gap: 4.17vw;
                border-radius: 2.22vw;
                border: 0.14vw solid #F2F4F7;
                padding: 4.17vw;
        
                .person-box {
                    width: 9.72vw;
                    border-radius: 1.11vw;
                    margin-right: 3.33vw;
                }
        
                .person {
                    font-size: 2.22vw;
                }
        
                .name-group .name {
                    font-size: 2.78vw;
                }
        
            }
        }
    }

    .sec-06 {
        .questions-list {
            margin-top: 0;
            gap: 0;
        
            .questions {
                .quest-btn {
                    font-size: 3.61vw;
                    border-radius: 1.11vw;
                    border: 0.14vw solid #EAECF0;
                    padding: 4.17vw;
        
                    &::after {
                        right: 4.17vw;
                        width: 5.56vw;
                        height: 5.56vw;
                    }
        
                    &.active {
                        border-radius: 1.11vw 1.11vw 0vw 0vw;
                    }
                }
    
                .txt-box {
                    padding: 2.22vw 2.78vw;
                    font-size: 3.33vw;
                    border-radius: 0vw 0vw 0.83vw 0.83vw;
                    border: 0.14vw solid #EAECF0;
                    margin-top: -0.28vw;
                }
                + .questions{
                    margin-top: 2.78vw;
                }
            }
        }
    }

    .sec-07 {
        .item-group {
            margin-top: 6.94vw;
    
            .item {
                .item-img {
                    border-radius: 2.22vw;
                    overflow: hidden;
                }
    
                .txt-group {
                    margin-top: 2.78vw;
                    min-height: 0;
    
                    .date {
                        font-size: 3.61vw;
                    }
    
                    .txt {
                        font-size: 4.17vw;
                        margin-top: 2.78vw;
                    }
                }
    
                .more-btn {
                    width: 100%;
                    font-size: 3.61vw;
                    border-radius: 1.11vw;
                    box-shadow: 0vw 0.14vw 0.28vw 0vw rgba(16, 24, 40, 0.05);
                    margin-top: 5.56vw;
                    padding: 3.17vw 0;
                    
                    &.type2 {
                        margin-top: 5.56vw;
                    }
                }
    
            }
        }
    }

    .footer {
        .f-area {
            max-width: 183.33vw;
            padding: 13.89vw 5.56vw;
    
            .f-logo{
                width: 26.94vw;
            }
        
            .f-menu-group {
                flex-direction: column;
                .f-menu {
                    margin-right: 0;

                    &+ .f-menu{
                        margin-top: 6.94vw;
                    }

                    .title {
                        font-size: 4.17vw;
                    }
        
                    .f-list {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 0;
                        li {
                            font-size: 3.33vw;
                            margin-top: 2.78vw;
                            margin-right: 5.56vw;
                        }
                    }
                }
                
            }
        }
        
        .f-copyright {
            .copyright-area {
                align-items: flex-start;
                flex-direction: column;
                padding: 5.56vw;
                max-width: 183.33vw;
        
                .txt {
                    font-size: 3.33vw;
                }
        
                .card-img {
                    max-width: 31.11vw;
                    margin-top: 4.17vw;
                }
            }
        }
    }
}
